<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width">
    <title>Title</title>
</head>
<body>
<script type="text/javascript" src="./js/rem.js"></script>
<script type="text/javascript" src="https://cdn.bootcss.com/zepto/1.0rc1/zepto.min.js"></script>
<script type="text/javascript" src="http://res2.wx.qq.com/open/js/jweixin-1.4.0.js"></script>

<h2>语音识别功能</h2>
<button id="btn">点击开始录音</button>
<ul class="list"></ul>
<script>
    $(function(){
      wx.config({
        debug: true, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
        appId:'<%= appID %>', // 必填，公众号的唯一标识
        timestamp:'<%= timestamp %>', // 必填，生成签名的时间戳
        nonceStr:'<%= noncestr %>', // 必填，生成签名的随机串
        signature:'<%= signature %>',// 必填，签名
        jsApiList:[
          'updateAppMessageShareData',
          'updateTimelineShareData',
          'startRecord',
          'stopRecord',
          'translateVoice'
        ]  // 必填，需要使用的JS接口列表
      });
      wx.ready(function(){
        let isRecord = false;
        $('#btn').tap(function(){
          if(!isRecord){
            wx.startRecord();
            isRecord = true;
          }else{
            wx.stopRecord({
              success: function (res) {
                const localId = res.localId;
                wx.translateVoice({
                  localId: localId, // 需要识别的音频的本地Id，由录音相关接口获得
                  isShowProgressTips: 1, // 默认为1，显示进度提示
                  success: function (res) {
                    // alert(res.translateResult); // 语音识别的结果
                    const url = `http://api.douban.com/v2/movie/search?count=9&callback=?&q=${res.translateResult}`;
                    console.log(url);
                    //使用jsonP的方式跨域请求
                    $.getJSON(url, function ({subjects}) {
                      let html = '';
                      subjects.forEach(function (item, index) {
                        html += `<li class="item">
                                    <a href="javascript:">
                                      <div class="cover">
                                        <img src="${item.images.small}" alt="${item.title}" data-x="2000" data-y="2963" class="img-show" style="width: 100%;">
                                      </div>
                                      <div class="info">
                                        <h3>${item.title}</h3>
                                        <p class="rank">
                                          <span>评分:</span>
                                          <span class="rating">${item.rating.average}</span>
                                        </p>
                                      </div>
                                    </a>
                                  </li>`;
                      });
                      $('.list').html(html);
                      //自定义“分享给朋友”及“分享到QQ”按钮的分享内容
                      wx.updateAppMessageShareData({
                        title: subjects[0].title, // 分享标题
                        desc: `类型：${subjects[0].genres}`, // 分享描述
                        link: subjects[0].alt, // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
                        imgUrl: subjects[0].image.small, // 分享图标
                        success: function () {
                          alert('分享给微信好朋友或者qq好友');
                        }
                      });
                      //自定义“分享到朋友圈”及“分享到QQ空间”按钮的分享内容
                      wx.updateTimelineShareData({
                        title: subjects[0].title, // 分享标题
                        link: subjects[0].alt, // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
                        imgUrl: subjects[0].images.small, // 分享图标
                        success: function () {
                          // 设置成功
                          alert('分享到朋友圈或者qq空间');
                        }
                      })
                    })
                  }
                });
                isRecord = false;
              }
            });
          }
        })
      });
    })
</script>
</body>
</html>